@{
    ViewData["Title"] = "Home Page";
}
Time:@ViewBag.Systime
<br />
<form action ="/" method="post">
    <input type ="text" name="txtDemo"/>
    <input type="submit" name="btnSummit" value="Submit"
    </form>

<br/>
Demo =@ViewBag.Demo